*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.flex{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}



li{
    padding-left: 0.5rem;
}

.container{
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

.row{
    margin: 2rem 0;
}

[class^="col_"]{
    height: 300px;
    border: 1px dashed;
}

.col_12{
    width: calc(100% / 12 * 12);
}

.strategic,
.benefits,
.get_started{
    background-color: #9792e4;
}

/* header */


header{
    background-color: #0084fd;
}

nav{
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.fa-bars{
    font-size: 2rem;
    color: white;
}

.menu{
    display: none;
}

.menu_item > a{
    text-decoration: none;
    color: white;
}

.menu_item_button{
    color: black;
}

.start_button{
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
/* demo */



/* footer */

footer{
    background-color: #333333;
}
@media screen and (min-width:481px) {
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
    .col_md_6{
        width: calc(100% / 12 * 6);
    }
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
}

@media screen and (min-width:769px) {
    .col_lg_8{
        width: calc(100% / 12 * 8);
    }
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
    .hamburger{
        display: none;
    }
    .menu{
        display: inline-block;
    }
}