*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.wrap{
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    padding-left: 0.5rem;
}

.container{
    width: 70%;
    max-width: 1140px;
    margin: auto;
}



[class^="col_"]{
    border: 1px dashed;
}

.col_12{
    width: calc(100% / 12 * 12);
}

.m-top1{
    margin-top: 1rem;
}
.m-top2{
    margin-top: 2rem;
}

.m-bottom2{
    margin-bottom: 2rem;
}
.text_center{
    text-align: center;
}

.max_100{
    max-width: 100%;
}

.graytext{
    color: rgb(84, 84, 84);
}
.bg_white{
    background-color: white;
}

.strategic,
.benefits,
.get_started{
    background-color: #9792e4;
}

.white{
    color: white;
}

.line_h1_5{
    line-height: 1.5rem;
}

/* header */


header{
    background-color: #0084fd;
}

nav{
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.fa-bars{
    font-size: 2rem;
    color: white;
}

.menu{
    display: none;
}

.menu_item > a{
    text-decoration: none;
    color: white;
}

.menu_item_button{
    color: black;
}

.start_button{
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
/* demo */

.demo .col{
    border: 8px solid white;
    border-radius: 20px;
}

.card_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

}

.card_text{
    align-self: flex-start;
    justify-content: center;
}

.app_store{
    background-color: #0084fd;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    justify-content: center;
}

.lightblue{
    background-color: #b5ddff;
    border-radius: 15px;
    margin-top: 1rem;

}

.fa-apple{
    padding-right: 0.5rem;
}

h3{
    color: #0084fd;
}

.demo_p{
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.fa-blue{
   font-size: 4rem;
   justify-content: center;
   color: #0084fd;
   margin-top: 1rem;
}

/* strategic */

.card{
    border-radius: 40px;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
}
.fa-arrow-down{
    justify-content: center;
    background-color:#9792e4;
    padding: 1rem;
    border-radius: 50%;
}

/* partners */

.partners_h{
    color: #9792e4;
    font-size: 2rem;
}

.expert_card{
    background-color: #9792e4;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 40px;
}

.expert_card{
    flex-direction: row;
}

.expert_p{
    width: calc(100% - 155px);
}

.testimonial_img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    
}
/* footer */

footer{
    background-color: #333333;
}

/* responsive layout */

@media screen and (min-width:769px) {
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
    .col_md_6{
        width: calc(100% / 12 * 6);
    }
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
    .tablet_50{
        width: 50%;
    }
    .card_h{
        text-align: left;
    }
    .app_store{
        width: max-content;
    }
    #phone_img{
        max-width: 50%;
    }
    .card_text{
        justify-content: flex-start;
    }
    h3{
        text-align: center;
    }
    .strategic_right{
        margin-bottom: 2rem;
    }
}   
    

@media screen and (min-width:1200px) {
    .col_lg_8{
        width: calc(100% / 12 * 8);
    }
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
    .hamburger{
        display: none;
    }
    .menu{
        display: inline-block;
    }
    .card_text{
        width: 50%;
        padding-bottom: 2rem;
    }
    .card_container{
        display: flex;
        align-items: end;
        flex-direction: row;
    }
    .card_container_center{
        display: flex;
        align-items: center;
        flex-direction:column;
    }
    .phone{
        width: 50%;
        height: fit-content;
    }
    .card{
        margin-top: 1rem;
    }
    .strategic_left{
        margin-top: 2rem;
    }
    .strategic_right{
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
}