*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.wrap{
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    padding-left: 0.5rem;
}

.container{
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

.row{
    margin: 2rem 0;
}

[class^="col_"]{
    border: 1px dashed;
}

.col_12{
    width: calc(100% / 12 * 12);
}

.m-top1{
    margin-top: 1rem;
}

.text_center{
    text-align: center;
}

.max_100{
    max-width: 100%;
}

.graytext{
    color: rgb(84, 84, 84);
}

.strategic,
.benefits,
.get_started{
    background-color: #9792e4;
}

.white{
    color: white;
}

/* header */


header{
    background-color: #0084fd;
}

nav{
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.fa-bars{
    font-size: 2rem;
    color: white;
}

.menu{
    display: none;
}

.menu_item > a{
    text-decoration: none;
    color: white;
}

.menu_item_button{
    color: black;
}

.start_button{
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
/* demo */

.card_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.card_text{
    align-self: flex-start;
}

.app_store{
    background-color: #0084fd;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    justify-content: center;
}

.lightblue{
    background-color: #b5ddff;
    border-radius: 15px;
    margin-top: 1rem;

}

.fa-apple{
    padding-right: 0.5rem;
}

h3{
    color: #0084fd;
}

.demo_p{
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

/* footer */

footer{
    background-color: #333333;
}

/* responsive layout */

@media screen and (min-width:481px) {
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
    .col_md_6{
        width: calc(100% / 12 * 6);
    }
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
    .tablet_50{
        width: 50%;
    }
    .card_h{
        text-align: left;
    }
    .app_store{
        width: max-content;
    }
}   
    

@media screen and (min-width:769px) {
    .col_lg_8{
        width: calc(100% / 12 * 8);
    }
    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
    .hamburger{
        display: none;
    }
    .menu{
        display: inline-block;
    }
    .card_text{
        width: 50%;
        padding-bottom: 2rem;
    }
    .card_container{
        display: flex;
        align-items: end;
    }
    .phone{
        width: 50%;
        height: fit-content;
    }
}